<%#=current_manager.inspect %>

  <div class="row">
    <div class="col-sm">
      <div class="card" style="width: 20rem;">
        <div class="card-body">
          <h4 class="card-title">Your Bands</h4>
          <h6 class="card-subtitle mb-2 text-muted">The bands you currently manage</h6>
          <p class="card-text">
            <% if @bands.present? %>
            <ul>
              <% @bands.each do |band| %>
              <li><%= link_to band.name, band_path(band) %> (<%= band.genre.name %>)</li>
              <% end %>
            </ul>
            <% end %>
          </p>
          <%= link_to "Start a new band", new_band_path, class: 'card-link' %>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <!-- One of three columns -->
    </div>
    <div class="col-sm">
      <!-- One of three columns -->
    </div>
  </div>
