/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 // Custom bootstrap variables must be set or imported *before* bootstrap.
$font-family-sans-serif: 'Open Sans', sans-serif;
$headings-font-family: 'Nunito', sans-serif;
$headings-font-weight: 700;
$blue: #2178E6;
$green: #13D87B;


@import "bootstrap";
@import "font-awesome";

button {
  cursor: pointer;
}

.card-img-pad {
  padding: 20px 0 0 0;
  background: $gray-100;
}

.bd-footer {
  border-top: 1px solid #f7f7f7;
  background: #fcfcfc;
  font-size:85%;
  .text-muted {
    color: #6c757d!important;
  }
  a {
    font-weight: bold;
    color: #495057;
  }
  p {
    margin-bottom: 5px;
  }
}

.news {
  margin: 0;
  padding: 0;
  max-height:510px;
  overflow:auto;
  list-style-type: none;
  li {
    margin:0;
    padding:0 0 0 15px;
    position: relative;
    font-size: 95%;
    small {
      color: $gray-600;
      margin-left: 5px;
    }
    &:before {
      content: '';
      width: 5px;
      height: 14px;
      display: block;
      background: $gray-500;
      left: 0;
      top: 5px;
      position: absolute;
      border-radius: 100px;
    }
    &.earned { &:before { background: $success; } }
    &.wrote_song { &:before { background: $teal; } }
    &.fatigue_decrease { &:before { background: $success; } }
    &.fatigue_increase { &:before { background: $danger; } }
    &.record_single { &:before { background: $primary; } }
    &.skill_increase { &:before { background: $purple; } }
  }
}
